<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxnjdg.heimacms.managecourseservice.mapper.TeachPlanMapper">


    <resultMap id="BaseResultMap" type="com.xxnjdg.heimacms.servicemodel.managecourseservice.TeachPlan">
        <id column="id" property="id" />
        <result column="pname" property="planName" />
        <result column="parentid" property="parentId" />
        <result column="grade" property="grade" />
        <result column="ptype" property="planType" />
        <result column="description" property="description" />
        <result column="timelength" property="timeLength" />
        <result column="courseid" property="courseId" />
        <result column="orderby" property="orderBy" />
        <result column="status" property="status" />
        <result column="trylearn" property="tryLearn" />
    </resultMap>

    <resultMap id="TeachPlanTreeBaseResultMap" type="com.xxnjdg.heimacms.servicemodel.managecourseservice.response.TeachPlanTree">
        <id column="t1id" property="id" />
        <result column="t1pname" property="planName" />

        <collection property="children" ofType="com.xxnjdg.heimacms.servicemodel.managecourseservice.response.TeachPlanTree">
            <id column="t2id" property="id" />
            <result column="t2pname" property="planName" />
        </collection>
    </resultMap>

    <select id="queryTeachPlanList" resultMap="BaseResultMap">
        SELECT * FROM teachplan
    </select>


    <select id="queryTeachPlanTreeListById" resultMap="TeachPlanTreeBaseResultMap">
        SELECT
        t1.id t1id,t1.pname t1pname,
        t2.id t2id,t2.pname t2pname
        FROM teachplan t1
        LEFT JOIN teachplan t2 ON t1.id = t2.parentid
        WHERE t1.parentid='0' AND t1.courseid = #{id}
    </select>

    <select id="queryTeachPlanByParentIdAndCourseId" resultMap="BaseResultMap">
        select * from teachplan where parentid = #{parentId} and courseid = #{courseId}
    </select>

    <select id="queryTeachPlanByIdAndGradeAndCourseId" resultMap="BaseResultMap">
        select * from teachplan where id = #{id} and grade = #{grade} and courseid = #{courseId}
    </select>

    <select id="queryTeachPlanById" resultMap="BaseResultMap">
        select id,pname,ptype,timelength,orderby,description,status from teachplan where id = #{id}
    </select>

    <insert id="insertTeachPlan" >
        insert into teachplan(id,pname,parentid,grade,ptype,description,timelength,courseid,orderby,status,trylearn)
        values(#{id},#{planName},#{parentId},#{grade},#{planType},#{description},#{timeLength},#{courseId},#{orderBy},#{status},#{tryLearn})
    </insert>

    <update id="updateTeachPlan" >
        update teachplan set pname = #{planName},ptype = #{planType},timelength = #{timeLength},orderby = #{orderBy},
        description = #{description},status = #{status} where id = #{id}
    </update>


</mapper>